body {
  background-color: #34eb6b;
}

.table {
  text-align: center;
  width: 95%;
  margin: auto;
}

th {
  background-color: #343a40;
  color: white;
}
.d-inline div {
  display: inline-block;
  padding: 5px;
}

@media (min-width: 768px) {
  th {
    font-size: 14px;
  }
}
